html, body  {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

div.padding {
  background-color: #CCCCCC;
  width: 100%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.icon {
  overflow: hidden;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.icon {
  display: flex;
}

.icon li {
  background-color: #fff;
  position: relative;
  border: 0px solid black;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: 8px 32px 8px 8px;
  z-index: -2;
}
.icon li.twitter::before {
  position: absolute;
  background-color: #55acee;
  border: 0px solid red;/*仮でボーダーを指定*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  transform: scale(0);
  transition: all .4s ease;
}
.icon li.facebook::before {
  position: absolute;
  background-color: #3b5998;
  border: 0px solid red;/*仮でボーダーを指定*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  transform: scale(0);
  transition: all .4s ease;
}

.icon li.twitter:hover::before {
  position: absolute;
  background-color: #55acee;
  border: 0px solid red;/*仮でボーダーを指定*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  transform: scale(1);
  transition: all .4s ease;
  /*transition: background-color 2s transform 2s;*/
}
.icon li.facebook:hover::before {
  position: absolute;
  background-color: #3b5998;
  border: 0px solid red;/*仮でボーダーを指定*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  transform: scale(1);
  transition: all .4s ease;
  /*transition: background-color 2s transform 2s;*/
}

.icon li a::before {
  border-style: solid;
  border-width: 0px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 150px;
  height: 280px; /* Button height */
  line-height: 280px; /* Button height */
  transition: all .4s ease;
  text-align: center;
  width: 280px; /* Button width */
}

.icon li a[href*="twitter.com"]::before {
   color: #55acee;
   content: "\f099";
 }

 .icon li a[href*="twitter.com"]:hover::before {
   /*background-color: #55acee;*/
   color: white;
   /*transition: background-color 3s;*/
 }

 .icon li a[href*="facebook.com"]::before {
   color: #3b5998;
   content: "\f09a";
    }

 .icon li a[href*="facebook.com"]:hover::before {
    /*background-color: #3b5998;*/
    color: white;
  }
